<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spell list</title>
    <style type="text/css">
    
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            vertical-align: top;
        }
        table {
            margin: 2px;
        }
        .print {
            page-break-after:always;
        }
        .spell_name {
            font-size: 1em;
            font-weight: bold;
        }
        .school_name {
            font-size: 1em;
            font-style: italic;
        }
        .attr_header {
            font-size: 0.9em;
            font-weight: bold;
        }
        .attr_body {
            font-size: 0.9em;
        }
        .level {
            text-align:right; 
            width:65px;
        }
        .scalable_text {
            font-size: 0.9em;
            /*line-height: 1em;*/
        }
    </style>
    <script src="jquery-3.2.1.slim.min.js"></script>
</head>

<script>
    function scaleText() {
        console.log("Scaling text starting.");    
        var t0 = performance.now();
        $(".fixed_div").each(function(){
            var scaledDiv = $(this).children('.scaled_div');

            while($(this).height() < scaledDiv.height()){
                var text = $(this).find('.scalable_text');
                var textSize = parseInt(text.css("font-size"))-1;
                // Infinite loop on too big text
                if(textSize <= 8){
                    // TODO add css for hidden overflow if text cant fit
                    console.log("Text overflow, overflow set to hidden.");
                    break;
                }
                text.css("font-size", textSize);
            }


        });
        var t1 = performance.now();
        console.log("Scaling complete in " + (t1-t0) + " milliseconds.");    
    }
</script>

<body style="margin: 0px;" onload="scaleText();">
$content_all

</body>
</html>
